[submodule "eval-programs/approxflow"]
	path = eval-programs/approxflow
	url = https://github.com/parttimenerd/approxflow
[submodule "bin/modified_cbmc"]
	path = bin/modified_cbmc
	url = https://github.com/parttimenerd/cbmc.git
  branch = information_flow
